.login__main {
  width: 40rem;
}

.login__form {
  display: flex;
  flex-direction: column;
}

.login__label {
  font-size: 1.3rem;
  color: #070d0da4;
  align-self: center;
  margin-bottom: 10px;
}

.login__inputs {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
